@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    font-family: 'Nunito', sans-serif;
    /* background-color: black;   */
    /* background-image: url('./assets/chemical-formula-outlines-on-whiteboard-600nw-732477289.webp'); */
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

